:root{
    --dark-theme-color : #826a56;
    --medium-theme-color : #E2DCCC;
    --light-theme-color : #FBF8F2;
}

body{
    font-family: "Public Sans", sans-serif;
    line-height: 1.3rem;
    color: #221e1c;
    background-color: #FFF;
    margin: 10px;
}

.container{
margin: auto;
max-width: 793px;
position: relative;
}

h1, h3{
    font-weight: 700;
}

a{
    border-bottom: 1px solid var(--dark-theme-color);
    transition: all .3s;
}

a:hover{
    border-color: var(--light-theme-color);
}

/* Header*/
.header{
    background-color: var(--light-theme-color);
    padding: 35px 20px 35px 100px;
    width: 80%;
    margin-top: 30px;
    margin-left: auto;
    position: absolute;
    right: 0;

}

.photo-cv{
    width: 25%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #FFF;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.header__title{
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 0.03em;
    margin-bottom: 15px;
}

.header__subtitle{
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.header__text:nth-of-type(1){
    margin-bottom: 5px;
}


/* Main */
.main{
    display: flex;
}

    /* Sidebar */
.sidebar{
    background-color: var(--medium-theme-color);
    padding: 315px 30px 20px 30px; /* Padding-top doit ^etre > height du padding */
    font-size: 14px;
}

.sidebar__section:not(.sidebar__section:nth-last-child(1)){
    margin-bottom: 35px;
}

.sidebar__title{
    font-size: 1.3rem;
    line-height: 1.2em;
    margin-bottom: 15px;
    color: #645141;
}

.sidebar__list__item{
    display: flex; 
    align-items: flex-end;
    column-gap: 10px;
}

.sidebar-icon{
    align-self: flex-start; /*Icone au niveau de la première ligne de texte (si texte sur plusieurs lignes)*/
}

.sidebar__list__item:not(.sidebar__list__item:nth-last-child(1)){
    margin-bottom: 10px;
}

.sidebar-icon{
    width: 24px;
}

.sidebar__section--contact .sidebar-icon,
.sidebar__section--diverse .sidebar-icon{
width: 21px; /*Réduit la taille de ces icones car paraissaient légèrement plus grande que celle de la section sidebar__infos */
}

.item-age span{
    line-height: 1.2em; /*Aligne correctement le texte à son icone */
}


/* Main-content */
.main-content{
    padding : 315px 0 20px 40px; /* Padding-top doit ^etre > height du padding */
}

.content__section:not(.content__section:nth-last-child(1)){
    margin-bottom: 30px; /* Sur tous sauf le dernier .content__section*/
}

.content__section__title{
    background-color: var(--dark-theme-color);
    color: #FFF;
    font-weight: 400;
    font-size: 1.2rem;
    width: 60%;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 5px 10px 5px 30px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.content__item{
    margin-bottom: 20px;
    position: relative;
    padding: 0 10px 0 25px ;
    /*border-left: 1px solid var(--dark-theme-color); */
}


.border-deco{
    position: absolute;
    top: 50%;
    transform: translateY(-49%);
    left: 0;
    height: 90%;
    border-left: 3px solid var(--dark-theme-color);
}

.border-deco::before{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dark-theme-color);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-62%, -50%);
}

.border-deco::after{
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--dark-theme-color);
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-62%, 50%);
}

.content__item__title{
    font-weight: 600;
    margin-bottom: 5px;
}

.content__item__place{
    font-size: .9em;
    font-weight: 400;
    margin-bottom: 3px;

}

.content__item__period{
    font-size: .85em;
    color: grey;
    font-weight: 300;
    margin-bottom: 10px;
}

.content__item__sublist{
    padding-left: 25px;
    font-size: .9em;
}

.content__item__sublist li{
    list-style: disc outside;
}

.content__section--projects a:hover{
    border-color: var(--medium-theme-color);
}

.content__section--projects p{
    margin-bottom: 5px;
}

.btn{
    background-color: var(--dark-theme-color);
    color: #FFF;
    border: none;
    padding: 10px;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    margin-top: 30px;
    transition: all .3s;
}

.btn:hover{
    opacity: .8;
}

/*Version imprimable/PDF*/
@media print {
    html{
        font-size: 14px;
    }

    .header{
        margin-top: 0;
    }

    .sidebar,
    .main-content{
        padding-top: 225px;
    }

    .sidebar{
        width: min-content;
    }

    .main-content{
        padding-left: 5px;
    }

    .content__section:not(.content__section:nth-last-child(1)){
        margin-bottom: 25px;
    }

    .border-deco,
    .btn-print{
        display: none;
    }

    .content__item{
        padding-left: 0;
        margin-bottom: 15px;
    }

    .content__section__title{
        width: 100%;
        margin-bottom: 10px;
        padding: 0;
        color: #645141;
        font-weight: bold;
        font-size: 1.3rem;
        background: none;
        padding-left: 0;
    }

    .content__item__place,
    .content__item__period,
    .content__item__sublist{
        font-size: 1rem;
    }

    .content__item__period{
        margin-bottom: 5px;
    }
}