# Activer le moteur de réécriture
RewriteEngine On

# Rediriger toutes les requêtes vers dist/index.html sans exposer /dist dans l'URL
RewriteCond %{REQUEST_URI} !^/dist/
RewriteRule ^(.*)$ /dist/index.html [L]